html,
body{
    background-color: var(--white);
    font-family:"Roboto", sans-serif;
    scroll-behavior: smooth;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: 15px;
    line-height: 120%;
    font-family: "Foobar";
}

h1 {
    font-size: 2.5em;

}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container {
    width: 90%;
    margin: auto; 
}
em {
    display: inline-block;
}
.btn {
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    border: none;
}

.btn-primary {
    background: var(--primary);
    transition: all .4s ease-in-out;
}

.btn-primary:hover {
    background-color: #59afa8;
}
